<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044088201113-0b873gm254takae6i17qrqpa2dhku8j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044088201113-0b873gm254takae6i17qrqpa2dhku8j9</string>
	<key>API_KEY</key>
	<string>AIzaSyD-frXC2IN-JaY9jD1V-PusTEHe7MvxvwM</string>
	<key>GCM_SENDER_ID</key>
	<string>1044088201113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.PR.PRapp</string>
	<key>PROJECT_ID</key>
	<string>private-receipt-e0181</string>
	<key>STORAGE_BUCKET</key>
	<string>private-receipt-e0181.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044088201113:ios:75b1a041e2dbe96ee7fd08</string>
	<key>DATABASE_URL</key>
	<string>https://private-receipt-e0181.firebaseio.com</string>
</dict>
</plist>